html > body {
            /*background-image: url('/img/bgav2.jpg');*/
            background-color: black;
            background-position: center center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 100vh;
           font-family: 'Audiowide', cursive;
        }
        html>body .main-container {
            margin: 0 auto !important;
        }
        .loader {
            position: relative;
            width: 100vw;
            height: 100vh;
            background: #000;
        }
        .loader > div {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -116px;
            margin-left: -75px;
        }
        .loader > div > img {
            width: 150px;
            clear: both;
        }
        .loader > img.logo {
            width: 100%;
            position: absolute;
            margin: 100px auto 0 auto;
            text-align: center;
            max-width: var(--max-width);
            transform: translate(-50%, 0%);
        }
        .loader > img.characters {
            width: 100%;
            max-width: var(--max-width);
            position: absolute;
            margin: 0 auto;
            text-align: center;
            bottom: 0;
            transform: translate(-50%, 0%);
        }  
        

        .scrolling-wrapper {
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap; 
            -webkit-overflow-scrolling: touch;

        }
        .scrolling-wrapper > .card {
            display: inline-block;            
        }
        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-track {      
            background: #403351;
            border:none;   
        }

        ::-webkit-scrollbar-thumb {
            background: #fcba03;
        }

        ::-webkit-scrollbar-corner {
            background: #403351;
        }

        .text-success {
            color: white!important;
            text-shadow: 2px 2px 10px #0ed3ea;
        }

        .btn-copy {
            color: #08e3f9;
            border: 3px solid #08e3f9;
            background: blue;
            -moz-box-shadow: inset 0 0 10px #08e3f9;
            -webkit-box-shadow: inset 0 0 10px #08e3f9;
            box-shadow: inset 0 0 10px #08e3f9;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            z-index: 1;
        }

        .menus a {
             color: #08e3f9;
            border: 3px solid #08e3f9;
            background: rgba(8,227,249,.25);
            -moz-box-shadow: inset 0 0 10px #08e3f9;
            -webkit-box-shadow: inset 0 0 10px #08e3f9;
            box-shadow: inset 0 0 10px #08e3f9;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            z-index: 1;
        }

        .circle-menu {
            border-top-right-radius: 50% !important;
            border-top-left-radius: 50% !important;
            border-bottom-right-radius: 50% !important;
            border-bottom-left-radius: 50% !important;
            color: white !important;
        }

        .circle-menu i {
            font-size: 15px;
        }

        .menus a:hover {
            border-color: #d15517;
            color: white;
            -webkit-box-shadow: 2px 6px 37px 34px rgba(222,67,11,1);
            -moz-box-shadow: 2px 6px 37px 34px rgba(222,67,11,1);
            box-shadow: 2px 6px 37px 34px rgba(222,67,11,1);
        }

        .div-menus {
            max-width: 400px;
            background: transparent;
            border-top-right-radius: 25%;
            border-top-left-radius: 25%;
            padding-top:30px;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
            padding-top:30px;
            padding-bottom: 10px;
            box-shadow: inset 0 0 30px #ffbf00;
            z-index:999;
            border: 3px solid #08e3f9;
        }

        .dev-menus .col-3 {
            margin: .25rem!important;
        }

        .btn-copy:hover {
            border-color: #d15517;
            color: white;
            -webkit-box-shadow: inset 0px 0px 50px 0px rgba(228,41,242,1);
-moz-box-shadow: inset 0px 0px 50px 0px rgba(228,41,242,1);
box-shadow: inset 0px 0px 50px 0px rgba(228,41,242,1);
        }

        .card-yellow {
            border:2px solid yellow;
            background-color: transparent;
            box-shadow: inset 0 0 20px yellow; 
            padding-bottom: 20px;
            border-radius: 20px;
            border-bottom-left-radius: 50px;
            border-top-right-radius: 40px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        .card-red {
            border:2px solid red;
            background-color: transparent;
            box-shadow: inset 0 0 20px red; 
            padding-bottom: 20px;
            border-radius: 20px;
            border-bottom-left-radius: 50px;
            border-top-right-radius: 40px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        .card-green {
            border:2px solid green;
            background-color: transparent;
            box-shadow: inset 0 0 20px green; 
            padding-bottom: 20px;
            border-radius: 20px;
            border-bottom-left-radius: 50px;
            border-top-right-radius: 40px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;

        }

         .card-black {
            border:2px solid black;
            background-color: transparent;
            box-shadow: inset 0 0 20px black; 
            padding-bottom: 20px;
            border-radius: 20px;
            border-bottom-left-radius: 50px;
            border-top-right-radius: 40px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        .me-menu-top {
            border-color:#ccc;font-size:12px; background-color: transparent; color:white;height: 120px;
        }

        .me-menu-bottom {
            border-color:#ccc;font-size:12px; background-color: transparent; color:white;height: 120px;
            text-decoration: none;
        }

        .padding-5 {
            padding: 5px;
            padding-top: 20px;
        }

.menus-v {
  width:200px;
  height:200px;
  
  border-right: 100px solid transparent;
  border-left: 70px solid red;
  border-top: 100px solid transparent;
  border-bottom: 70px solid blue;

  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-bottom: 10px;

  background-color: transparent;
  
  transform: rotate(-45deg);
  
  position: relative;
  /*box-shadow: inset 0 0 30px #ffbf00;*/
  /*border: 3px solid #08e3f9;*/
}

.menu-v-circle {
  color: red;
  transform: rotate(45deg);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid yellow;
}

.left-top{
  top: 10px;
  left: -62px;
  position: absolute;
}

.right-top {
  bottom: -62px;
  right: -0px;
  position: absolute;
}

.bottom-center {
  bottom: -50px;
  left: -50px;
  position: absolute;
}

.owl-carousel .owl-item {
    width: 300px !important;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-purple {
            border-color: rgba(228,41,242,1);
            color: white;
            -webkit-box-shadow: inset 0px 0px 50px 0px rgba(228,41,242,1);
-moz-box-shadow: inset 0px 0px 50px 0px rgba(228,41,242,1);
box-shadow: inset 0px 0px 50px 0px rgba(228,41,242,1);
            background: blue;
}
#login-form .form-group input {
    border:2px solid red;
    box-shadow: inset 0 0 20px red; 
    background-color: transparent !important;
    color:white !important;
}


#login-form .form-group select {
    border:2px solid red;
    box-shadow: inset 0 0 20px red; 
    background-color: transparent !important;
    color:white;
}

#login-form .form-group select option {
    color: white !important;
    background: red !important;

}

#login-form2 .form-group input {
    border:2px solid green;
    box-shadow: inset 0 0 20px green; 
    background-color: transparent !important;
    color:white !important;
}


#login-form2 .form-group select {
    border:2px solid green;
    box-shadow: inset 0 0 20px green; 
    background-color: transparent !important;
    color:white;
}

#login-form2 .form-group select option {
    color: white !important;
    background: green !important;

}

.wh-100 {
    width: 100%;
    height: 100vh;
}